@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";


@theme {
  --font-display: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-brand: "Playfair Display", sans-serif;


  /* Light mode colors */
  --color-bg: hsl(0, 0%, 90%);        
  --color-bg-light: hsl(0, 0%, 80%);        
  --color-text: oklch(0.1 0 0);      
  --color-accent: oklch(0.75 0.2 65);
  --color-hover: oklch(0.8 0.25 75); 
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors from UI kit */
    --color-bg: hsl(0, 0%, 7%);        /* main background */
    --color-bg-light: hsl(0, 0%, 20%);  /* lighter gray for cards/sections */
    --color-text: hsl(0, 0%, 100%);      /* text stays white */
    --color-accent: hsl(28, 93%, 50%);    /* main accent orange */
    --color-hover: hsl(27, 93%, 50%);     /* hover accent */
    
  }
}


html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



