@import "tailwindcss";

@theme {
  --font-display: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* Light mode colors */
  --color-bg: oklch(1 0 0);        
  --color-bg-light: hsl(227, 35%, 21%);
  --color-text: oklch(0.1 0 0);      
  --color-text-secondary: oklch(23.075% 0.00003 271.152)	; 
  --color-nav-bg: oklch(0.98 0 0);   
  --color-accent: oklch(0.75 0.2 65);
  --color-hover: oklch(0.8 0.25 75); 
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --color-bg: oklch(20.407% 0.03071 272.045);     
    --color-text: oklch(1 0 0);
    --color-text-secondary: oklch(96.444% 0.00143 285.229)	; 
    --color-nav-bg: oklch(20.407% 0.03071 272.045); 
    --color-accent: oklch(0.7278 0.1431 66.89);   
    --color-hover: oklch(0.8 0.25 75);
    --color-bg-light: hsl(227, 35%, 20%);
  }
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

